/* Add your custom styles here */

.upper-header {
    padding: 10px 0;
}

#date {
    font-weight: bold;
}

.divider {
    margin: 0 10px;
}

.social-links {
    color: #fff;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/* Center-align the iframe */
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust the height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}


.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -56.5px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 700px;
    margin: auto;
    padding-left: 80px;
}

body {
    background-image: url('images/bg_img.svg');
    /* Other background properties can be added here */
}